.idea/
*.code-workspace
*__pycache__*
**.DS_Store**
**.vscode**
**.pyc


venv/
output/
logs/
settings/
workdir/
scratch/


# Ignore dynamic pages
webui/pages/

docs/
.git/
.gitignore
Dockerfile

modules/PointerProjectEngine/
modules/ThreadingProjectEngine/
modules/MinimalModuleExample/

plugins/email_notice/
plugins/MinimalPluginExample/

