.idea/
*.code-workspace
*__pycache__*
**.DS_Store**
**.vscode**
**.pyc


output/
logs/
settings/
# workdir/
scratch/

# Ignore dynamic pages
webui/pages/1_*.py
webui/pages/2_*.py
webui/pages/scratch.py

mock/autograder/



