tests:
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_add_first
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_add_none
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_add_multiple
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_remove_second_{_ITEM_}
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_remove_none   
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_remove_first_{_ITEM_} 
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: Change_{_ITEM_}_not_included 
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: Change_{_ITEM_}_with_incorrect_{_CONTAINER_} 
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: Change_{_ITEM_}_to_duplicate_{_CONTAINER_}
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: Change_{_ITEM_}_included
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_add_one_with_same_name
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_add_two_with_same_name
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_add_duplicate_{_ITEM_}
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_add_multiple_with_same_name
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_add_multiple_unique
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_add_all_{_ITEM_}s
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_remove_only_with_same_name
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_remove_not_exist
    points: 4
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_remove_duplicate
    points: 4  
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_remove_multiple_with_same_name
    points: 4   
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: {_CONTAINER_}_remove_all
    points: 4   
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: Change_{_ITEM_}_not_included_advance
    points: 4   
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: Change_{_ITEM_}_with_incorrect_{_CONTAINER_}_advance
    points: 4   
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: Change_{_ITEM_}_to_duplicate_{_CONTAINER_}_advance
    points: 4   
  -
    file: {_PROJECT_NAME_}_test
    class: ProjectTests
    name: Change_{_ITEM_}_included_advance
    points: 4    