import streamlit as st
from streamlit import session_state


from webui.functions.common_field import generate_ui_for_dataclass
from webui.functions.session import init_session

init_session()
SettingManager = session_state.SettingManager
AddonManager = session_state.AddonManager

st.write("# {{ addon.name }}")

generate_ui_for_dataclass(SettingManager.get_settings("{{ addon.name }}"))

# Customize Field


