import streamlit as st
from streamlit import session_state


from webui.functions.common_field import generate_ui_for_dataclass
from webui.functions.session import init_session
print("rendering {{ addon.name }}")
init_session()
SettingManager = session_state.SettingManager
AddonManager = session_state.AddonManager

st.write("# {{ addon.name }}")

generate_ui_for_dataclass(SettingManager.get_settings("{{ addon.name }}"))

# Customize Field
#if "{{ addon.name }}" in AddonManager._name_to_modules.keys() and getattr(AddonManager._name_to_modules["{{ addon.name }}"].imported_object, "webui", None):
#    AddonManager._name_to_modules["{{ addon.name }}"].imported_object.webui()

#if "{{ addon.name }}" in AddonManager._name_to_plugins.keys() and getattr(AddonManager._name_to_plugins["{{ addon.name }}"].imported_object, "webui", None):
#    AddonManager._name_to_plugins["{{ addon.name }}"].imported_object.webui()


