from magi.common.addon import hookimpl
from .config import Config


class {{ addon_name }}:
    def __init__(self):
        self.config = Config

    @hookimpl
    def before_generate(self):
        pass

    @hookimpl
    def generate(self):
        """Hook for generating functionality."""

    @hookimpl
    def after_generate(self):
        """Hook for actions after generating."""

    @hookimpl
    def before_grading(self):
        """Hook for actions before grading."""

    @hookimpl
    def grade(self):
        """Hook for grading functionality."""

    @hookimpl
    def after_grading(self):
        """Hook for actions after grading."""

    @hookimpl
    def generate_documentation(self):
        """Hook for generating documentation."""
